.wy-side-nav-search {
    background-color: #ED1C24;
}

.wy-nav-top {
    background: #ED1C24;
}

.wy-nav-content {
	max-width: 100%;
}

.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}
