
$crimson: #ed1c24;
$dark: #404041;
$gold: #c2b59b;
$blue: #08c;
$custom-red: darken($crimson, 15%); // #D9411E;
$custom-gray: #fcfcfc;
$sidebar-sm: 250px;
$sidebar-lg: 320px;

.admonition-title {
  font-size: 1.5rem !important;
  margin: 2rem 0 1rem !important;
  font-family: 'Open sans', sans-serif !important;
  font-weight: 700 !important;
  text-shadow: 0 0 10px yellow;
}

#toc {
  > ul {
    margin: 0;
    padding: 0;
    li {
      margin-bottom: .7rem;
      &.toctree-l2 {
        > a {
          border-left: 1px solid #eee;
        }
      }
      &.toctree-l3 {
        > a {
          border-left: 1px solid #ddd;
        }
      }
      &.toctree-l4 {
        > a {
          border-left: 1px solid #ccc;
        }
      }
      &.toctree-l5 {
        a {
          border-left: 1px solid #bbb;
        }
      }
      &.toctree-l2 > a,
      &.toctree-l3 > a,
      &.toctree-l4 > a,
      &.toctree-l5 a {
        &:hover {
          border-left-color: $custom-red;
        }
      }
    }
    > li {
      margin-bottom: 1rem;
    }
    a {
      display: block;
      padding: 0 1rem;
      &:hover {
        color: $custom-red;
      }
      + ul {
        margin-top: .7rem;
      }
    }
  }
  li.current > a {
    color: #555;
  }
}
